<div>
  <div class="card shadow-lg d-flex align-items-lg-center p-3">
    <div>
      <h2 class="text-center">About ShoppersBazaar</h2>
    </div>
    <div class="text-muted text-justify small py-3">
      About ShoppersBazaar – India’s Ultimate Online Shopping Site.ShoppersBazaar’s vision is to create India’s most
      reliable and frictionless
      commerce ecosystem that creates life-changing experiences for buyers and sellers with the widest assortment
      products across diverse categories from over regional, national, and international brands and retailers.
      With millions of users and more than 300,000 sellers, ShoppersBazaar is the online shopping site for Internet
      users across the
      country, delivering to 6000+ cities and towns in India. In its journey till now, it has partnered with several
      global
      marquee investors and individuals such as SoftBank, BlackRock, Temasek, Foxconn, Alibaba, eBay Inc., Premji
      Invest, Intel
      Capital, Bessemer Venture Partners, Mr. Ratan Tata, among others. Online Shopping – A Boon The trend of online
      shopping is
      becoming a household name and so is ShoppersBazaar. ShoppersBazaar is the preferred choice of hundreds of
      thousands of online shoppers
      given its mammoth assortment of 15 million+ products, quick delivery even to the remotest corners of the country,
      and daily
      deals, discounts & offers to make products available at slashed down prices to our valuable customers. Get
      Started! Shop
      Online Today at ShoppersBazaar If you have been missing out on all the fun of online shopping thinking it requires
      one to be a
      technology aficionado then we have good news for you. Shopping online particularly at ShoppersBazaar is a child’s
      play; all you
      need is a mobile phone or laptop or tablet with Internet connection to get started. Simply log into
      ShoppersBazaar.com and browse
      through the wide assortment of products across categories. Once you have zeroed in on your favorite products,
      simply place
      the order by filling in the details; the products will be delivered right at your doorstep. Fulfill Your
      Entrepreneurial
      Dreams! Sell Today at ShoppersBazaar Thanks to easy-to-understand, flexible policies and SD Advisors to help
      sellers at each
      step, anyone from a manufacturer to wholesaler to retailer can sell on ShoppersBazaar. Begin your entrepreneurial
      journey with
      ShoppersBazaar as a seller by filling a simple registration form here. Once the registration process is done, you
      can start
      selling your products to the entire country by sitting at your home or office. Doesn't it sound thrilling? Of
      course,
      it is and the excitement will build up with every order you receive! Start selling at ShoppersBazaar today and see
      your
      business reach staggering heights
    </div>
  </div>
</div>
