
h2{
  border-bottom: 5px solid #f50057;
  border-bottom-length: 1px;
  border-bottom-width: 6px;
  font-family: 'Sofia', cursive;
  font-weight: bold;
}
.category-style:hover {
  border: 1px dotted lightgrey;
}
