h2,h5,h4 {
  font-family: 'Sofia', cursive;
  font-weight: normal;
}


input.empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: bold;
  text-decoration: inherit;
}

#topnav button {
  float: right;
  padding: 6px 10px;
  margin-right: 16px;
  font-size: 18px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

.category-style:hover {
  border: 1px dotted lightgrey;
}

.btn:active {
  background: #dc3545;
  border: none;
}

.btn:after{
  border: none;
}
.my-cursor{
  cursor: pointer;
}
