<nav class="px-4 py-lg-3 navbar navbar-expand-lg bg-white navbar-dark sticky-top">
  <h2 class="text-black my-cursor" routerLink="/home">
    shoppersBazaar<i class="material-icons text-black">
    favorite_border
  </i>
  </h2>
  <div id="topnav" class="form-inline px-auto mx-auto" action="/action_page.php">
    <input class="form-control" type="text" placeholder="Search" size="72">
    <button type="submit" class="bg-dark text-light"><i class="fa fa-search "></i></button>
  </div>
  <div class="d-flex align-items-center my-cursor">


    <div *ngIf="!appService.checkLogin(); else logOut" class="px-2 d-flex align-items-center category-style">
      <h5><a routerLink="/login" class=" text-black px-1 text-decoration-none py-2">Log In</a>
        <i class="material-icons text-black">
          account_circle
        </i></h5>
    </div>

    <ng-template #logOut>
      <div class="px-2 d-flex align-items-center category-style">
        <h5><a (click)="logout()" class=" text-black px-1 text-decoration-none py-2">LogOut</a>
          <i class="material-icons text-black">
            account_circle
          </i></h5>
      </div>
    </ng-template>

    <div *ngIf="appService.isAdmin(); else User" class="px-2 d-flex align-items-center category-style">
      <h5><a routerLink="/add-product" class=" text-black px-1 text-decoration-none py-2">Add Product</a>
        <i class="material-icons text-black">
          shopping_cart
        </i></h5>
    </div>
    <ng-template #User>
      <div class="px-2 d-flex align-items-center category-style">
        <h5 ><a routerLink="/user-cart" class="text-dark  px-1 text-decoration-none py-2">Cart</a>
          <i class="material-icons text-black">
            shopping_cart
          </i></h5>
      </div>
    </ng-template>

    <div class="dropdown px-2 category-style">
      <button class="dropbtn">Account</button>
      <i class="material-icons text-black">
        supervisor_account
      </i>
      <div class="dropdown-content ">
        <a routerLink="/profile">My Profile</a>
        <a routerLink="/orders">My Orders</a>
      </div>
    </div>

  </div>
</nav>

