.category-style:hover {
  border: 1px dotted lightgrey;
}
.checked {
  color: orange;
}

.heading{
  //font-family: 'Sofia', cursive;
  border-bottom: 3px solid  #ca3e47;
}
.btn {
  transition: box-shadow 0.2s;
}

.btn:hover{
  box-shadow: 0 0 1rem rgba(0,0,0,0.6);
}

