<app-navbar></app-navbar>
<div class="row d-flex justify-content-center my-5 align-items-center">
  <div class="col-6">
    <div class="card shadow-lg">
      <div class="card-body d-flex justify-content-around">
        <div class="mr-5">
          <img src=".\assets\shoes.jpg">
          <div class="d-flex justify-content-around pt-5">
          <button type="button" class="btn btn-danger ">BUY NOW</button>
          <button type="button" class="btn btn-dark " routerLink="/user-cart">ADD TO CART</button>
          </div>
        </div>
        <div class="d-flex flex-column">
          <div>
            <img src=".\assets\adidas.jpg">
          </div>

          <div>
            adidas NEO Men s Cloudfoam Super Flex Running Shoe Collegiate Navy/White/Blue 10 D(M) US
          </div>
          <div>
            <ul>
              <li>Sole: Rubber</li>
              <li>For men</li>
              <li>Colour: Navy/White/Blue</li>
              <li>Cloudfoam Super Flex Running Shoe</li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
