<app-navbar></app-navbar>
<div>
  <h2 class="display-3 helo text-center m-0">My Orders{{orders.userName}}</h2>
</div>
<div class="d-flex flex-wrap justify-content-around">
<div *ngFor="let order of orders">
<div class="card mt-3">

  <div class="card-body ">


  <div class="card-body">
    <div class="d-flex justify-content-between"><h5>Brand:</h5><h5>{{order.itemName}}</h5></div>
    <div class="d-flex justify-content-between"><h5>Price:</h5><h5>{{order.price}}</h5></div>
    <div class="d-flex justify-content-between"><h5>Quantity:</h5><h5>{{order.quantity}}</h5></div>
    <div class="d-flex justify-content-between"><h5>Total Price:</h5><h5>{{order.price*order.quantity}}</h5></div>
    <div class="d-flex justify-content-between"><h5>Date:</h5><h5>  {{order.date|date:'medium'}}</h5></div>
  </div>
</div>
</div>
</div>
</div>

