.card{
  transition: box-shadow 0.2s;
  width: 600px;
}

.card:hover{
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}
.heading{
  border-bottom: 3px solid #ca3e47;
  margin: 0 20rem;
}
.helo{
  border-bottom: 3px solid #ca3e47;
}
