

<div class="container-fluid ">
  <div id= "item" class="container-fluid text-left ">
    <img src="./assets/logo.jpg" routerLink="/home">
  </div>

  <h2 class="display-3 text-center heading">Shoppers Bazaar</h2>

  <div class="d-flex justify-content-center mt-5">
    <div class="p-3 border pl-5 pr-5">
      <form class="text-center">
        <h4 class="display-4 text-center ">Login here</h4>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
              > <i class="material-icons">person</i></span>
            </div>
          <input type="text" class="form-control " placeholder="Username" [(ngModel)]="username"
                 [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group pt-2">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="material-icons">vpn_key</i></span>
            </div>
            <input [type]="showPassword" class="form-control" placeholder="Password" [(ngModel)]="password"
              [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" (click)="showPass()"/>
          <label class="custom-control-label" for="customCheck"
          >Show Password:</label>
        </div>

        <button
          type="button"
          class="btn btn-danger form-control mt-2" (click)="login()">Login</button>
      </form>
    </div>
  </div>

  <div class="text-center container mt-4 text-decoration-none" >
    Don't have an account?
    <a  routerLink="/signup">Sign Up</a > here!
  </div>
</div>
