<app-navbar></app-navbar>

<div class="container-fluid">

  <div class="d-flex justify-content-center mt-5">
    <div class="p-3 border pl-5 pr-5">
      <form class="text-center">
        <h3 class=" text-center mb-4 helo">Edit Product:</h3>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text pr-5"
              >name</span>
            </div>
            <input type="text" class="form-control " [(ngModel)]="name" [value]="profile.name"
                   [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text  pr-5"
              >Price </span>
            </div>
            <input type="text" class="form-control " [(ngModel)]="price"
                   [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>


        <div class="form-group">
          <div class="input-group ">
            <div class="input-group-prepend">
              <span class="input-group-text  pr-5"
              >Details </span>
            </div>
            <input type="text" class="form-control " [(ngModel)]="details"
                   [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>


        <div class="form-group">
          <div class="input-group ">
            <div class="input-group-prepend ">
              <span class="input-group-text  pr-5"
              >Image </span>
            </div>

            <input type="text" class="form-control" [(ngModel)]="image"
                   [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>


        <div class="form-group">
          <div class="input-group ">
            <div class="input-group-prepend">
              <span class="input-group-text  pr-4"
              >Category</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="category"
                   [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
              >Description</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="description"
                   [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>

        <button
          type="button"
          class="btn btn-danger form-control mt-2" (click)="editProduct()">Edit
        </button>
      </form>
    </div>
  </div>

</div>

