.category-style:hover {
  border: 1px dotted lightgrey;
}


.img-size{
  height: 260px;
  width: 190px;
}
.helo-border{
  border-bottom: 3px solid #ca3e47;
}
.heading-border{
  border-bottom: 3px solid #ca3e47;
}
.icon-position{
  top: 40%;
  left: 35%;
}

//#cart{
//  width: 900px;
//}
.card{
  transition: box-shadow 0.2s;
}

.card:hover{
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}
.size
{
  height: 400px;
  width :  380px;
}
.font{
  font-size:30px;
  padding-top:200px;
}
.my-cursor{
  cursor: pointer;
}
