<app-navbar></app-navbar>
<div class="jumbotron d-flex justify-content-center ">
  <div  id="cartProductContainer" class="alert alert-primary alert-dismissible fade show ">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <i class="material-icons">
      check_circle_outline
    </i>
    Skyfitness Double Spring Black Tummy Trimmer is already present in your cart. Please make use of
    <br>the quantity field to increase quantity.
  </div>
  <div class="card">
    <button type="button" class="btn btn-dark ">Log Out</button>
  </div>
</div>
<div>
  <img src="./assets/ss1.png">
</div>
