.category-style:hover {
  border: 1px dotted lightgrey;
}
#cartProductContainer{
  background: #19bc9c;
  padding: 15px;
  color: white;
  border-radius: 3px 3px 0 0;
  position: relative;
  width: 75%;
  height: auto;
  font-size: large;
}
