<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row my-2">
    <div class="col-9" *ngFor="let i of cartItem" style="border-right: 2px solid lightgrey ">
      <div class="container-fluid p-5 ">
        <div class="bg-dark">
          <div class="row bg-white alert alert-dark alert-dismissible fade show ">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <img src="{{i.items.image}}" class="img-fluid img-size"/>
            <div class="col-sm-9 p-3 border">
              <h3 class="display-5 heading-border pb-2 font-weight-bold">{{ i.items.name }}</h3>
              <h4 class="display-5 mt-3">
                <span class="font-weight-bold ml-5">Price  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;:</span>
                <span class="text-dark ml-4"> &#8377; {{i.items.price }}</span>
              </h4>
              <div class="d-flex mt-3">
                <h4 class="display-5 ">
                  <span class="font-weight-bold ml-5">Quantity  &nbsp;&nbsp;&nbsp;&nbsp;:</span>
                </h4>
                <button type="button" class="btn btn-success ml-4" (click)="decrement(i.items.productId)"
                        [disabled]="i.quantity==1">-
                </button>
                <div class="border p-2 pl-4 pr-4">{{i.quantity }}</div>
                <button type="button" class="btn btn-success" (click)="increment(i.items.productId)">
                  +
                </button>
              </div>
              <h4 class="display-5 mt-3">
                <span class="font-weight-bold ml-5">Total Amount : </span>
                <span class="text-dark ml-4"> &#8377; {{i.quantity * i.items.price}}</span>
              </h4>
              <button class="btn btn-danger" (click)="removeFromCart(i.items.productId)">Remove From Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 sticky-top">
      <div class="card shadow-lg shadow my-5">
        <div class="card-header font-weight-bold">
          <h3>Your Order</h3>
        </div>
        <div class="card-body">
          <h4>Bag Total :</h4>
          <h5>Bag Discount : Rs.100</h5>
          <h4>Delivery Charges :Rs.60</h4>
          <h4>Total :{{totalPrice }}</h4>
        </div>
        <button
          type="button"
          class="btn btn-outline-danger form-control mt-2">Pay
        </button>
      </div>
    </div>
  </div>
</div>


<!--Back and procced button-->
<div class="container-fluid position-fixed custom-pos">
  <div class="d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-danger p-2 pl-5 pr-5 rounded-circle-custom shadow"
      (click)="goToHome()"
    >
      Continue Shopping
    </button>
    <button
      type="button"
      class="btn btn-success p-2 pl-5 pr-5 rounded-circle-custom-reverse shadow"
    >
      Procced To Payment
    </button>
  </div>
</div>
<div>
  <img src="./assets/ss1.png">
</div>

