.category-style:hover {
  border: 1px dotted lightgrey;
}

h3{
  font-family: 'Sofia', cursive;

}
.img-size{
  height: 180px;
  width: 190px;
}

.heading-border{
  border-bottom: 3px solid #ca3e47;
}
.icon-position{
  top: 40%;
  left: 35%;
}

//#cart{
//  width: 900px;
//}
.card{
  transition: box-shadow 0.2s;
}

.card:hover{
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}
.size
{
  height: 350px;
  width :  350px;
}
.font{
  font-size:30px;
  padding-top:200px;
}
