.card-body img {
  width: 150px;
  height: 230px;
}
h3{
  font-family: 'Sofia', cursive;
}
.my-cursor{
  cursor: pointer;
}

.text-width{
  width: 186px;
}
h2,h5,h4 {
  font-family: 'Sofia', cursive;
  font-weight: normal;
}
.my-cursor{
  cursor: pointer;
}

.card{
  transition: box-shadow 0.2s;
}

.card:hover{
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}
.category-style:hover {
  border-bottom: 2px solid #ca3e47;
}

.helo{

  border-bottom: 3px solid #ca3e47;
}
