
<div class="container-fluid mt-5">

  <h4 class="display-3 text-center heading">Shoppers Bazaar</h4>

  <div class="d-flex justify-content-center mt-5">
    <div class="p-3 border pl-5 pr-5">
      <form class="text-center">
        <h4 class="display-4 text-center">Signup</h4>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
              > <i class="material-icons">person</i></span>
            </div>
            <input type="text" class="form-control " placeholder="Username" [(ngModel)]="username"
                   [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
              > <i class="material-icons">email</i></span>
            </div>
            <input type="text" class="form-control " placeholder="email" [(ngModel)]="email"
                   [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group pt-2">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="material-icons">vpn_key</i></span>
            </div>
            <input type="text" class="form-control" placeholder="Password" [(ngModel)]="password"
                   [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>


        <button
          type="button"
          class="btn btn-danger form-control mt-2" (click)="Signupdata()">Signup</button>
      </form>
    </div>
  </div>

</div>

