.card-body img {
  width: 150px;
  height: 230px;
}
.text-width{
  width: 186px;
}
.card:hover{
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}
.category-style:hover {
  border-bottom: 2px solid #ca3e47;
}
h4{
  font-family: 'Sofia', cursive;
}
.my-cursor{
  cursor: pointer;
}
