<app-navbar></app-navbar>
<nav class="navbar navbar-expand-lg  justify-content-center navbar-dark p-0 mb-5">
  <div class="py-2 px-5 category-style">
    <h4><a routerLink="/home" class="text-dark text-decoration-none">Home</a></h4>
  </div>
  <div *ngFor="let i of categories" class="py-2 px-5 category-style my-cursor">
    <div>
      <h4><a (click)="show(i.name)" class="text-dark text-decoration-none">
        {{i.name}}</a></h4>
    </div>
  </div>
</nav>
<div *ngIf="isEmpty(); else elseBlock">
  <div>
    <h1 class="font-weight-bold">
      Sorry no result found for this word, try searching something else.
    </h1>
  </div>
</div>
<ng-template #elseBlock>
  <div class="d-flex flex-wrap justify-content-center">
    <div *ngFor="let i of result" class="card-deck">
      <div class="card mx-4 mb-5 bg-white rounded my-cursor" (click)="getDetails(i.productId)">

        <div class="card-body">
          <a><img src="{{i.image}}"></a>
        </div>
        <div class="card-footer text-center ">
          <div class="helo">
            <b><a class="text-dark text-decoration-none ">{{i.name}}</a></b>
          </div>
          <div class="text-width">
            {{i.details}}
          </div>
          <div class="d-flex justify-content-center">
            <span class="text-success"><b>Rs.{{i.price }}</b></span><small>
            <del>{{i.price + 0.20 * i.price}}</del>
          </small>
          </div>

        </div>
      </div>
    </div>
  </div>
</ng-template>
