<app-navbar></app-navbar>

<div class="border-danger">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
    </ul>

    <div class="carousel-inner align-items-center">
      <div class="carousel-item active align-content-center">
        <img src="./assets/bg3.png">
        <div class="carousel-caption">
          <span class="text-danger ">great deals</span> EVERY DAY!!
        </div>
      </div>
      <div class="carousel-item  align-content-center">
        <img src="./assets/bg4.jpg">
        <div class="carousel-caption">
          INTERNATIONAL <span class="text-danger">BRANDS!!</span>
        </div>
      </div>
      <div class="carousel-item  align-content-center">
        <img src="./assets/bg6.jpg">
        <div class="carousel-caption">
          AMAZING <span class="text-danger">OFFERS!!</span>
        </div>
      </div>
      <div class="carousel-item  align-content-center">
        <img src="./assets/bg1.png">
        <div class="carousel-caption">
          50% OFF ON <span class="text-danger">FIRST BUY</span>
        </div>
      </div>
      <div class="carousel-item  align-content-center">
        <img src="./assets/bg2.png">
        <div class="carousel-caption">
          LIKE IT?<span class="text-danger">SHOP-IT!!</span>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>


</div>

<!--Carousel Wrapper-->
<div id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="mx-5 text-danger controls-top d-flex  justify-content-between">
    <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="prev"><i class="material-icons">
      arrow_back_ios
    </i></a>
    <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="next"><i class="material-icons">
      arrow_forward_ios
    </i></a>
  </div>
  <!--/.Controls-->

  <!--Indicators-->
  <ul class="carousel-indicators ">
    <li data-target="#carousel-with-lb" data-slide-to="0" class="active secondary-color"></li>
    <li data-target="#carousel-with-lb" data-slide-to="1" class="secondary-color"></li>
    <li data-target="#carousel-with-lb" data-slide-to="2" class="secondary-color"></li>
    <li data-target="#carousel-with-lb" data-slide-to="3" class="secondary-color"></li>
  </ul>
  <!--/.Indicators-->

  <!--Slides and lightbox-->

  <div class="carousel-inner mdb-lightbox" role="listbox">
    <div id="mdb-lightbox-ui"></div>
    <!--First slide-->
    <div id="item" class=" carousel-item active text-center ">
      <figure class="col-md-3 d-md-inline-block ">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(10).jpg"
           data-size="1600x1067">
          <img src='./assets/assets.jpg'>
        </a>

      </figure>

      <figure class="col-md-3 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(12).jpg"
           data-size="1600x1067">
          <img src='./assets/asset1.jpg'>
        </a>

      </figure>
      <figure class="col-md-3 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(14).jpg"
           data-size="1600x1067">
          <img src='./assets/bag.webp'>
        </a>

      </figure>
      <figure class="col-md-3 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(14).jpg"
           data-size="1600x1067">
          <img src='./assets/kylie.webp'>
        </a>

      </figure>

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div id="item3"class="carousel-item text-center">

      <figure class="col-md-3 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(22).jpg"
           data-size="1600x1067">
          <img src='./assets/laptop.jpeg'>
        </a>

      </figure>

      <figure class="col-md-3 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(25).jpg"
           data-size="1600x1067">
          <img src='./assets/shirt.webp'>
        </a>
      </figure>

      <figure class="col-md-3 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(29).jpg"
           data-size="1600x1067">
          <img src='./assets/shoes.jpg'>
        </a>
      </figure>
      <figure class="col-md-3 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(22).jpg"
           data-size="1600x1067">
          <img src='./assets/top.jpg'>
        </a>

      </figure>

    </div>
    <!--/.Second slide-->

    <!--Third slide-->
    <div id="item2" class="carousel-item text-center">

      <figure class="col-md-3 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(44).jpg"
           data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(44).jpg"
               class="img-fluid">
        </a>
      </figure>

      <figure class="col-md-3 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).jpg"
           data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).jpg"
               class="img-fluid">
        </a>
      </figure>
      <figure class="col-md-3 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(44).jpg"
           data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(44).jpg"
               class="img-fluid">
        </a>
      </figure>
      <figure class="col-md-3 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(66).jpg"
           data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(66).jpg"
               class="img-fluid">
        </a>
      </figure>


    </div>
    <div id="item1" class="carousel-item text-center">


      <figure class="col-md-3 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg"
           data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg"
               class="img-fluid">
        </a>
      </figure>
      <figure class="col-md-3 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(56).jpg"
           data-size="1600x1067">
          <img src='./assets/Lights4.jpg'>
        </a>
      </figure>
      <figure class="col-md-3 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg"
           data-size="1600x1067">
          <img src='./assets/laptop.jpeg'>
        </a>
      </figure>
      <figure class="col-md-3 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(77).jpg"
           data-size="1600x1067">
          <img src='./assets/assets.jpg'>
        </a>
      </figure>
    </div>
    <!--/.Third slide-->

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
<img src="./assets/bg5.webp" class="w-100 mt-2">
<app-about-us></app-about-us>

<button><img src="./assets/ss2.png" class="w-100"></button>
